{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Thay đổi mật khẩu
{% endblock title %}

{% block main %}
<div class="text-center pt-5">
    <h2>Thay đổi mật khẩu</h2>
    <p class="lead text-muted">Nhập thông tin phía dưới để tiến hành thay đổi mật khẩu.</p>
</div>
<form action="{% url 'account_change_password' %}" method="post" style="max-width: 420px; margin: auto;" novalidate>
    {% for message in messages %}
    {% if 'password_changed' in message.tags %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-lg btn-primary" type="submit">Cập nhật mật khẩu</button>
    <p class="mt-3">
       <a href="{% url 'home' %}"> <i class="fa fa-arrow-left"></i> Trang chủ</a>
    </p>
</form>
{% endblock main %}