{% extends "_base.html" %}
{% block title %}
About
{% endblock title %}
{% block main %}
<div class="text-center pt-5">
    <h1 class="display-4">About Page</h1>
    <p class="lead text-muted">Khởi tạo dự án Django nhanh chóng với <b>djangotb</b></p>
    <p>
        <a href="" class="btn btn-success my-2"><i class="fa fa-pencil"></i> Xem bài viết</a>
        <a href="https://github.com/djangobat/djangotb" class="btn btn-secondary my-2"><i class="fa fa-github-alt"></i> Code Github</a>
    </p>
</div>
{% endblock main %}